@charset "utf-8";


header{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color:#9c6a53;
}


/*section1*/


.section1-1{
    width: 70%;
    text-align: left;
    display: flex;
    text-align: center;
    margin: 1% auto;
}

.logo-icon img{
    width:100%;
}

.logo-home .ul-home{
    width: 100%;
    height: 50px;
    /*background-color: blue;*/
}
/*section2*/

.section2-logo{
    height: 400Px;
}
.section2-logo .logo-icon {
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    /*background-color: aquamarine;*/
    margin: 0 auto;
}
.icon{
    width: 100%;
    text-align: right;
}


/*home*/
.logo-home{
    width: 70%;
    height: px;
    margin: 0 auto;
    /*background-color: blue;*/
}
.logo-home .ul-home{
    height: 50%;
    width: 70%;
    margin: 0 auto;
    /*background-color: blueviolet;*/
    height: 180Px;
    
}

.ul-home{

    align-items: center;
    width: 60%;
    display: flex;
    justify-content: space-between;
    
}


/*section3おすすめ*/


.section3-1{
    width: 70%;
    height: 150px;
    text-align: center;
    /*background-color: brown;*/
    margin: 0 auto;
    

}

.section3 h1{
    font-size: 200%;
    
}

/*section456*/
.section456{
    width: 70%;
    align-items: center;
    margin: 0 auto;
}
/*section4*//*img*/

.section4-3wk-1 img {
    width: 315px;
    height: 315px;

}
.section4-3wk-2 img{
    width: 315px;
    height: 315px;
}
.section4-3wk-3 img{
    width: 315px;
    height: 315px;
}

/*ster&y*/
.section45-ul img{
    width: 100px;
    height:20px;
    
}
.section45-ul img{
    width: 100px;
    height:20px;
}

.section4-3wk-y{
    display: flex;
    /*background-color: cyan;*/
    width: 70%;
}
.section4-3wk-y img {
    width: 10px;
    height:3px;
}

/*横並び*/
.section4{
    align-items: center;
}
.section4 .section4-3wk{
    display: flex;
    justify-content: space-between;
    width: 100%;
   
}

/*section5*/
.section5-3wk-1 img {
    width: 315px;
    height: 315px;

}
.section5-3wk-2 img{
    width: 315px;
    height: 315px;
}
.section5-3wk-3 img{
    width: 315px;
    height: 315px;
}

/*ster&y*/
.section45-ul img{
    width: 100px;
    height:20px;
    
}

.section4-3wk-y img {
    width: 70px;
    height:20px;
}

/*横並び*/
.section5{
    align-items: center;
}
.section5 .section5-3wk{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section6-3wk-1 img {
    width: 315px;
    height: 315px;

}
.section6-3wk-2 img{
    width: 315px;
    height: 315px;
}
.section6-3wk-3 img{
    width: 315px;
    height: 315px;
}

/*ster&y*/
.section45-ul img{
    width: 100px;
    height:20px;
    
}

/*横並び*/
.section6{
    align-items: center;
}
.section6 .section6-3wk{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*商品一覧7*/
.section7 {
    width: 100%;
    height: 300px;
    /*background-color: rgb(0, 255, 34);*/
}
.section71 {
   text-align: center;
   background-color: #eeeeee;
   width: 300px;
    height: 50px;
    border-radius: 40px;
    line-height: 50px;
 

}
.section7 .section71{
  
    margin:  auto;
}

/*section8*/
.section8{
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #9c6a53;
    line-height: 70px;
}

/*section9*/
.section9-1{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 500px;
    margin: 0 auto;
    line-height:50px;
}

.section9c{
    color: #9c6a53;
}

/*section10*/
.section10 {
    width: 70%;
    height: 50px;
    /*background-color: chocolate;*/
    margin: 0 auto;
    display: flex;
}

.section10-2{
    text-align: center;
    width: 70%;
    height: 50px;
}
